body {
    background-color: #f8f9fa;
}

.sensor-card {
    background: linear-gradient(135deg, #56ab2f, #a8e063);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.sensor-info {
    font-size: 18px;
    margin-top: 10px;
}

/* Ukuran logo lebih responsif */
.logo {
    height: 40px;
    width: auto;
}

/* Navbar pada layar kecil */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 16px; /* Ukuran font lebih kecil di mobile */
    }

    .logo {
        height: 35px; /* Ukuran logo disesuaikan */
    }

    .navbar-nav {
        text-align: center; /* Menu lebih terpusat */
    }

    .nav-item {
        margin-bottom: 5px; /* Memberi sedikit jarak antar item */
    }
}

#humidityChart {
    max-height: 300px; /* Atur tinggi maksimum */
    width: 100%;
}

.card {
    max-width: 100%;
    padding: 15px;
    text-align: center;
}

.card canvas {
    height: 300px !important;
    max-width: 100%;
}

.dev-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

 .card-custom {
            background: linear-gradient(135deg, #f8f9fa, #e9ecef);
            border-radius: 12px;
            padding: 15px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin-bottom: 10px;
            font-size: 0.85rem;
        }
        .header-card {
            background: linear-gradient(135deg, #4CAF50, #81C784);
            color: white;
            font-weight: bold;
            text-align: center;
            font-size: 0.85rem;
        }
        .status-text.active {
            color: green;
            font-weight: bold;
        }
        .status-text.inactive {
            color: red;
            font-weight: bold;
        }
        .toggle-btn {
            padding: 6px 12px;
            font-size: 0.85rem;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            color: white;
            transition: background 0.3s;
        }
        .toggle-btn.active {
            background: green;
        }
        .toggle-btn.inactive {
            background: red;
        }

  .kategori-tanaman p {
    font-size: 0.75rem;
}

.kategori-tanaman h5 {
    font-size: 0.875rem;
}

        .form-check-input {
            background-color: white;
            border-color: gray;
        }
        .form-check-input:checked {
            background-color: white;
            border-color: white;
        }
        .form-check-input:not(:checked) {
            background-color: red;
            border-color: red;
        }